.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.auth-card {
  width: 350px;
  background:  rgba(216, 231, 232, 0.1);

  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(16, 16, 16, 0.1);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 20px;
  color:white;
  font-weight: 700;
  border-color: #ffffff;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 20px;
 background: linear-gradient(to top #ffffff);
  outline: none;
  
}


.auth-card button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to top, #5adb7d,  #abe5a6, #ffffff);
  color: rgb(91, 63, 156);
  border: none;
  font-weight: 500;
  font-size: 22px;
  border-radius: 20px;
  cursor: pointer;
}

.auth-card button:hover {
  background: #23d358;
}

.auth-card p {
  margin-top: 15px;
  color: white;
  font-weight: 700;
}
